body {
	margin: 0;
}

a {
	color: inherit; /* Наследует цвет родительского элемента */
	text-decoration: none; /* Убирает подчеркивание */
  }

ul, ol {
	list-style: none; /* Убирает маркеры */
	padding: 0;       /* Убирает внутренние отступы */
	margin: 0;        /* Убирает внешние отступы */
  }
  button {
	all: unset;
	cursor: pointer;
  }