.conteiner {
    max-width: 1435px;
    margin: 0 auto;
    padding: 0 15px;
}
.burger {
    display: none;
}
.header {
    min-height: 100px;
    background-color: #edecf6;
    margin-bottom: 65px;
}
.header__inner {
    padding-top: 12px;
    display: flex;
    align-items: center;
}
.header__logo {
    margin-right: 85px;
}
.header__nav {
    width: 534px;
    font-family: "Montserrat", sans-serif;
    margin-right: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    color: #515076;
}
.header__ul {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
}
.header__li {
}
.header__a {
    white-space: nowrap;
    padding: 20px 15px;
    transition: all 0.5s;
}
.header__a:hover {
    background: rgba(81, 80, 118, 0.1);
}
.header__social {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 240%;
    color: #515076;
}
.header__social-inst:hover {
    background: rgba(81, 80, 118, 0.1);
}
.header__social-fc:hover {
    background: rgba(81, 80, 118, 0.1);
}

/* DIAMAINT */
.backgrount {
    padding-bottom: 700px;
    margin: 0 auto;
    max-width: 1919px;
    background: url(../img/oduvanchik.png) 450px -165px no-repeat, url(../img/listia.png) 0px 650px no-repeat, url(../img/vihinka.png) 210px 1100px no-repeat;
}

.diamaint {
    
}
.diamaint__title {
    font-family: "Playfair Display", sans-serif;
    max-width: 953px;
    font-weight: 400;
    font-size: 230px;
    line-height: 92%;
    color: #515076;
    padding-top: 85px;
    margin-bottom: 60px;
}
.diamaint__box {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    max-width: 884px;
    min-height: 459px;
}
.diamaint__box__left {
    
}
.diamaint__box__left-text {
    font-weight: 400;
    font-size: 36px;
    line-height: 133%;
    color: #63678c;
    max-width: 264px;
    min-height: 192px;
}
.diamaint__box__right {
}
.diamaint__box__right-text1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    color: #828282;
    max-width: 278px;
    min-height: 50px;
    margin-bottom: 68px;
}
.diamaint__box__right-text1 span {
    font-weight: 700;
    color: #8888a8;
}
.diamaint__box__right-text2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #888794;
    max-width: 391px;
    min-height: 143px;
    margin-bottom: 24px;
}
.diamaint__box__right-text3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #888794;
    max-width: 391px;
    min-height: 142px;
}

/* DIAMAINT2 */
.diamaint2 {
}
.diamaint2__grid-conteiner {
    margin-top: 100px;
    max-width: 1395px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.diamaint2__grid1 {
    max-width: 386px;
    min-height: 217px;
    grid-row: 3;
}
.diamaint2__grid1-text1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #888794;
}
.diamaint2__grid2 {
    margin-left: 100px;
    max-width: 270px;
    max-height: 70px;
    grid-row: 1;
    grid-column: 2;
}
.diamaint2__grid2-button {
    max-width: 270px;
    max-height: 70px;
    padding: 24px 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    background: #515076;
    transition: all 0.5s;
    white-space: nowrap;
}
.diamaint2__grid2-button:hover {
    background: #5e5c82;
}
.diamaint2__grid3 {
    max-width: 391px;
    min-height: 122px;
    grid-row: 2;
    grid-column: 2;
}
.diamaint2__grid1-text3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #888794;
}
.diamaint2__grid4 {
    margin-left: 305px;
    max-width: 170px;
    min-height: 164px;
    grid-row: 1;
    grid-column: 3;
}
.diamaint2__grid1-text4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: right;
    color: #888794;
}
.diamaint2__grid1-text4 span {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 180%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #888794;
}
.diamaint2__grid5 {
    margin-top: 130px;
    max-width: 350px;
    min-height: 119px;
    grid-row: 2 / 4;
    grid-column: 3;
}
.diamaint2__grid1-text5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 109%;
    color: #757aa5;
}

/* PRODUCT */
.backgrount-2 {
    padding-top: 166px;
    margin: 0 auto;
    max-width: 1919px;
    background: url(../img/main-product-bg.png) 0px -111px no-repeat;
}
.product {
    margin-bottom: 180px;
}
.product__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 70px;
    line-height: 109%;
    color: #757aa5;
    text-align: center;
    margin-bottom: 80px;
}
.product__slider {
    margin: 0 auto;
    max-width: 1100px;
}
.product__slide {
    opacity: 0.5;
    margin: 0px 15px;
    width: 329px;
    max-height: 600px;
    background: #f7f7fa;
}
.product__slide {
    width: 329px;
}
.product__slide.slick-center {
    opacity: 1;
    width: 380px;
}
.slide__conteiner {
    padding: 15px 30px;
}
.product__slide-img {
    max-width: 100%;
}
.product__slide-text1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #a5a3b9;
    max-width: 226px;
    margin-bottom: 20px;
}
.product__slide-text2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 136%;
    color: #515076;
    max-width: 159px;
    margin-bottom: 40px;
}
.product__slide-box {
    max-width: 293px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__slide-box-left {
    font-size: 24px;
    color: rgba(81, 80, 118, 0.8);
}
.product__slide-box-left span {
    margin-right: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 136%;
    text-decoration: line-through;
    color: rgba(81, 80, 118, 0.6);
}
.product__slide-box-right {
}

/* STOCK */
/* STOCK */

.stock {
    padding-bottom: 100px;
}
.stock__inner {
    display: flex;
    justify-content: space-between;
}
.stock__menu-left {
    max-width: 346px;
    min-height: 498px;
}
.stock__menu-left-title {
    max-width: 239px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 70px;
    line-height: 109%;
    color: #757aa5;
    margin-bottom: 100px;
}
.stock__menu-left-text {
    max-width: 333px;
    min-height: 128px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;
    color: #888794;
    margin-bottom: 225px;
}
.stock__menu-left-arrow {
    cursor: pointer;
}
.stock__menu-left-arrow .slick-prev .slick-arrow svg g {
    transition: opacity 1s;
}
.stock__menu-left-arrow .slick-prev .slick-arrow:hover svg g {
    opacity: 0.4;
}
.stock__menu-left-arrow-right g {
    transition: opacity 1s;
}
.stock__menu-left-arrow-right:hover g {
    opacity: 0.4;
}


.stock__menu-right {
    width: 850px;
    min-height: 559px;
}
.stock__menu-right-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 807px;
    min-height: 520px;
    background: #f7f7fa;
    box-shadow: -40px 40px 0 0 #515076;
}
.stock__menu-right-box-left {
    margin-top: 50px;
    margin-left: 56px;
    padding-bottom: 67px;
}
.stock__menu-right-box-number {
    font-family: "Montserrat", sans-serif;
    color: #515076;
    max-width: 62px;
    min-height: 62px;
    border-radius: 50%;
    text-align: center;
    line-height: 460%;
    background-color: #a5a3b9;
    margin-bottom: 40px;
}
.stock__menu-right-box-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 150%;
    color: #888794;
    max-width: 335px;
    min-height: 143px;
    margin-bottom: 40px;
}
.stock__menu-right-box-text {
    max-width: 420px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #888794;
}
.stock__menu-right-box-text-2 {
    position: absolute;
    top: 400px;
    left: -120px;
    font-weight: 500;
    font-size: 13px;
    line-height: 200%;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    transform: rotate(270deg);
}
.stock__menu-right-box-img {
    width: 100%;
    margin-top: 55px;
}



/* АДАПТИВ */
@media (max-width: 1800px) {
    .backgrount {
        background: url(../img/oduvanchik.png) 350px -165px no-repeat, url(../img/listia.png) 0px 650px no-repeat, url(../img/vihinka.png) 210px 1100px no-repeat;
    }
}
@media (max-width: 1700px) {
    .backgrount {
        background: url(../img/oduvanchik.png) 250px -165px no-repeat, url(../img/listia.png) 0px 650px no-repeat, url(../img/vihinka.png) -70px 1060px no-repeat;
    }
}
@media (max-width: 1600px) {
    .backgrount {
        background: url(../img/oduvanchik.png) 150px -165px no-repeaturl(../img/listia.png) 0px 650px no-repeat, url(../img/vihinka.png) 210px 1100px no-repeat;
    }
}
@media (max-width: 1500px) {
    .backgrount {
        background: url(../img/oduvanchik.png) 90px -165px no-repeat, url(../img/listia.png) 0px 650px no-repeat, url(../img/vihinka.png) -70px 1060px no-repeat;
    }
}
@media (max-width: 1300px) {
    .backgrount {
        background: url(../img/oduvanchik.png) 90px -165px no-repeat, url(../img/listia.png) 0px 650px no-repeat, url(../img/vihinka.png) -180px 1060px no-repeat;
    }
    .stock__inner {
        flex-direction: column;
        align-items: center;
    }
    .stock__menu-left {
        min-height: 320px;
        margin-bottom: 50px;
    }
    .stock__menu-left-title {
        margin-bottom: 50px;
    }
    .stock__menu-left-text {
        margin-bottom: 0px;
    }
}
@media (max-width: 1200px) {
    .backgrount {
        background: url(../img/oduvanchik.png) 90px -165px no-repeat, url(../img/listia.png) 0px 650px no-repeat, url(../img/vihinka.png) 10px 1315px / 1120px no-repeat;
        padding-bottom: 500px;
    }
    .diamaint2__grid-conteiner {
        margin-top: 50px;
    }
    .diamaint2__grid2 {
        margin-top: 60px;
    }
    .diamaint2__grid3 {
        grid-column: 1;
    }
    .diamaint2__grid4 {
        margin: 125px 0px 0px 50px;
        grid-row: 1 / 3;
        grid-column: 3;
    }
    .diamaint2__grid5 {
        margin-top: 0px;
        margin-left: 230px;
        grid-row: 3;
        grid-column: 2 / 4;
    }
}
@media (max-width: 1100px) {
    .product__slider {
        max-width: 490px;
    }
    .product__slide.slick-center {
        max-width: 400px;
    }
}
@media (max-width: 1000px) {
    .diamaint__title {
        font-size: 175px;
        padding-top: 10px;
    }
    .diamaint__box {
        max-width: 730px;
    }
    .diamaint2__grid1 {
        margin-top: 192px;
        grid-column: 1;
        grid-row: 2 / 4;
    }
    .diamaint2__grid3 {
        margin-top: 155px;
        grid-row: 1 / 3;

    }
    .diamaint2__grid4 {
        grid-column: 2 / 4;
        margin: 135px 0px 0px 327px;
    }
    .diamaint2__grid5 {
        margin-top: 160px;
        margin-left: 150px;
        grid-column: 2 / 4;
        grid-row: 2 / 4;
    }
    .backgrount {
        background: url(../img/oduvanchik.png) 90px -165px no-repeat, url(../img/listia.png) 0px 650px no-repeat, url(../img/vihinka.png) -55px 1150px / 1000px no-repeat;
        padding-bottom: 350px;
    }
    .stock__menu-right {
        width: 650px;
    }
    .stock__menu-right-box {
        width: 700px;
    }
    
}
@media (max-width:890px) {
    .burger {
        display: block;
        position: absolute;
        right: 50%;
    }
    .burger::before,
    .burger::after{
        content: "";
        display: block;
        width: 30px;
        height: 4px;
        background: #515076;
    }
    .burger span {
        display: block;
        margin: 4px 0px;
        width: 30px;
        height: 4px;
        background: #515076;
    }
    .header__logo {
        margin-right: 0px;
    }
    .header__ul {
        top: 100px;
        width: 500px;
        right: 21%;
        flex-direction: column;
        position: absolute;
        background-color: #edecf6;
        transition: all 1s;
        transform: translateY(-200%);
    }
    .header__ul.active {
        transform: translateY(0%);
    }
    .header__li {
        text-align: center;
        margin-bottom: 15px;
    }
    .product__title {
        font-size: 50px;
    }
}
@media (max-width:800px) {
    .header__ul {
        right: 18%;
    }
    .diamaint__title {
        font-size: 160px;
    }
    .diamaint__box {
        max-width: 675px;
        flex-wrap: wrap;
    }
    .diamaint2__grid4 {
        margin: 170px 0px 0px 330px;
    }
    .diamaint2__grid5 {
        margin-top: 100px;
        margin-left: 130px;
    }
    .backgrount {
        background: url(../img/oduvanchik.png) 90px -165px no-repeat, url(../img/listia.png) 0px 650px no-repeat, url(../img/vihinka.png) -160px 1200px / 1000px no-repeat;
    }
    .stock__menu-right {
        width: 600px;
    }
    .stock__menu-right-box {
        width: 600px;
        flex-direction: column;
    }
    .stock__menu-right-box-img {
        margin-top: 0px;
        width: 65%;
    }
}
@media (max-width:700px) {
    .header__ul {
        right: 14%;
    }
    .diamaint__title {
        font-size: 130px;
    }
    .diamaint__box {
        flex-direction: column;
        align-items: center;
    }
    .diamaint__box__left {
        text-align: center;
        margin-bottom: 30px;
    }
    .diamaint__box__right {
        text-align: center;
    }
    .diamaint__box__right-text1 {
        margin-bottom: 25px;
    }
    .backgrount {
        background: url(../img/oduvanchik.png) 90px -165px no-repeat, url(../img/listia.png) 0px 650px no-repeat, url(../img/vihinka.png) -150px 1375px / 1000px no-repeat;
    }
    .diamaint2__grid-conteiner {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 65px 1fr 1fr;
    }
    .diamaint2__grid1 {
        margin-top: 0px;
        grid-row: 3;
    }
    .diamaint2__grid2 {
        margin-top: 0px;
        margin-left: 0px;
    }
    .diamaint2__grid3 {
        margin-top: 0px;
        grid-row: 2;
    }
    .diamaint2__grid4 {
        margin: 0px 0px 0px 185px;
        grid-column: 2;
        grid-row: 2;
    }
    .diamaint2__grid5 {
        margin-top: 0px;
        grid-column: 2;
        grid-row: 3;
    }
    .product__title {
        font-size: 40px;
    }
    .stock__menu-right {
        width: 500px;
    }
    .stock__menu-right-box {
        width: 500px;
    }
}
@media (max-width:600px) {
    .header__ul {
        width: 400px;
        right: 17%;
    }
    .diamaint__title {
        font-size: 110px;
    }
    .diamaint2__grid3 {
        margin-top: 75px;
    }
    .diamaint2__grid4 {
        margin: 60px 0px 0px 120px;
    }
    .diamaint2__grid5 {
        margin-left: 15px;
    }
    .stock__menu-right {
        width: 400px;
    }
    .stock__menu-right-box {
        width: 400px;
    }
}
@media (max-width:500px) {
    .header__ul {
        width: 300px;
        right: 20%;
    }
    .diamaint__title {
        font-size: 95px;
    }
    .diamaint2__grid-conteiner {
        grid-template-rows: 65px 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .diamaint2__grid1 {
        grid-row: 5;
    }
    .diamaint2__grid2 {
        margin: 0 auto;
        grid-column: 1;
    }
    .diamaint2__grid3 {
        margin-top: 0px;
        grid-column: 1;
        grid-row: 4;
    }
    .diamaint2__grid4 {
        margin: 0px 0px 0px auto;
        grid-row: 2;
        grid-column: 1;
    }
    .diamaint2__grid5 {
        margin-top: 30px;
        margin-left: auto;
        grid-row: 3;
        grid-column: 1;
    }
    .backgrount {
        background: url(../img/oduvanchik.png) 90px -165px no-repeat, url(../img/listia.png) 0px 650px no-repeat, url(../img/vihinka.png) -150px 2000px / 1000px no-repeat;
        padding-bottom: 60px;
    }
    .product__title {
        font-size: 30px;
    }
    .stock__menu-right {
        width: 300px;
    }
    .stock__menu-right-box {
        width: 300px;
    }
    .stock__menu-right-box-title {
        font-size: 20px;
    }
    .stock__menu-right-box-text {
        font-size: 14px;
    }
    .stock__menu-right-box-left {
        margin-left: 20px;
        padding-bottom: 15px;
    }
}
@media (max-width:400px) {
    .header__ul {
        width: 200px;
        right: 28%;
    }
    .header__li {
        margin-right: 0px;
    }
    .diamaint__title {
        font-size: 80px;
    }
    .product__slide-box-left span {
        font-size: 16px;
    }
    .product__slide-box-left {
        font-size: 20px;
    }
    .product__slide-text1 {
        margin: 0px auto 20px;
    }
    .product__slide-text2 {
        font-size: 14px;
        margin: 0px auto 30px;
    }
    .product__slide-box {
        justify-content: space-around;
    }
    .product__title {
        font-size: 20px;
    }
    .stock__menu-right {
        width: 250px;
    }
    .stock__menu-right-box {
        width: 250px;
    }
}
@media (max-width:350px) {
    .diamaint__title {
        font-size: 70px;
    }
    .diamaint2__grid-conteiner {
        grid-template-rows: 65px 275px 215px 260px 1fr;
    }
    .diamaint2__grid2-button {
        font-size: 12px;
    }
    .diamaint2__grid4 {
        margin: 10px 0px 0px auto;
    }
    .diamaint2__grid5 {
        margin-top: 0px;
    }
}
@media (max-width:301px) {
    .header__ul {
        right: 20%;
    }
    .burger {
        right: 45%;
    }
    .stock__menu-right {
        width: 194px;
    }
    .stock__menu-right-box {
        width: 220px;
    }
    .stock__menu-right-box-title {
        font-size: 16px;
    }
}
