.header {
    width: 100%;
    min-height: 100px;
    background-color: #edecf6;
}
.conteiner {
    max-width: 1400px;
    padding: 0px 15px;
    margin: 0 auto;
}
.header__inner {
    padding-top: 15px;
    display: flex;
    align-items: center;
}
.header__logo {
    margin-right: 40px;
}
.header__nav {
    display: flex;
    font-size: 20px;
}
.header__ul {
    display: flex;
    color: #515076;
}
.header__li {
    margin-left: 40px;
}
.header__a {
    transition: all 0.5s;
    padding: 10px;
}
.header__a:hover {
    background: rgba(81, 80, 118, 0.1);
}
.title {
    font-size: 230px;
    font-weight: 400;
    color: #515076;
    margin-top: 128px;
    margin-bottom: 60px;
}
.main__inner {
    background: url(../img/oduvanchik.png) 20px -137px no-repeat, url(../img/listia.png) 8px 386px no-repeat;
}
.grid-container {
    display: grid;
    grid-template-columns: 387px 108px 391px;
    grid-template-rows: repeat(3, auto);
}
.left {
    grid-row: 1 / span 3;
    grid-column: 1;
}
.right-1 {
    grid-row: 1;
    grid-column: 3;
}
.right-2 {
    grid-row: 2;
    grid-column: 3;
}
.right-3 {
    grid-row: 3;
    grid-column: 3;
}
.main__diamaint {
    margin-bottom: 54px;
}
.main__diamaint-title {
    max-width: 265px;
    max-height: 192px;
    font-weight: 400;
    font-size: 36px;
    line-height: 133%;
    color: #63678c;
}
.main__diamaint-text {
    font-weight: 500;
    font-size: 18px;
    color: #828282;
}
.main__diamaint-text span {
    font-weight: 700;
    color: #8888a8;
}
.grid-container__2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 70px);
}
.b {
    grid-column: 2;
    grid-row: 1;
}
.d {
    grid-column: 3;
    grid-row: 1;
}
.c {
    grid-column: 2;
    grid-row: 2;
}
.a {
    grid-column: 1;
    grid-row: 3;
}
.e {
    grid-column: 3;
    grid-row: 3;
}

.main__diamaint-button {
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    padding: 27px 9px;
    background: #515076;
    border-radius: 100px;
    transition: all 0.5s;
    max-width: 270px;
    max-height: 70px;
    text-align: center;
    align-items: center;
}
.main__diamaint-button:hover {
    background: #63678c;
}
.grid-text-1 {
    margin-top: 250px;
    width: 172px;
    height: 127px;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: right;
    color: #888794;
}
.grid-text-2 {
    margin-top: 100px;
    width: 391px;
    height: 163px;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #888794;
}
.grid-text-3 {
    margin-top: 180px;
    width: 386px;
    height: 298px;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #888794;
}
.grid-text-4 {
    width: 350px;
    height: 119px;
    font-weight: 300;
    font-size: 36px;
    line-height: 109%;
    color: #757aa5;
    padding-top: 280px;
}
.img__stakan {
    position: relative;
    top: 105px;
    left: -105px;
    width: 1200px;
}
.main__product {
    margin-bottom: 180px;
}
.main__product .conteiner {
    background: url(../img/main-product-bg.png) -180px -105px no-repeat;
}
.product__title {
    font-weight: 200;
    font-size: 70px;
    line-height: 109%;
    text-align: center;
    color: #757aa5;
}
.slider__product-item {
    text-align: center;
    opacity: 0.4;
}
.slick-center {
    opacity: 1;
}
.product-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #a5a3b9;
}
.product-text-2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 136%;
    color: #515076;
}
.product-text-3 {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 136%;
    color: #515076;
}
.product-text-3 img {
    cursor: pointer;
}
.main__product-stock {
    margin-bottom: 300px;
}
.main__product-stock .conteiner {
    background: url(../img/vetka.png) 0 0 no-repeat;
}
.main__product-stock-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto 270px;
}
.main__product-stock-left h3 {
    font-weight: 275;
    font-size: 70px;
    line-height: 109%;
    color: #757aa5;
    margin-bottom: 100px;
}
.main__product-stock-left p {
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;
    color: #888794;
    max-width: 333px;
}
.main__product-stock-right {
    position: relative;
}
.сircle {
    border-radius: 50%;
    background: #c4c4c6;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 25px 0px 25px 25px;
}
.right-text {
    font-weight: 275;
    font-size: 20px;
    line-height: 125%;
    max-width: 300px;
    color: #757aa5;
    margin-bottom: 50px;
}
.right-text2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 125%;
    color: #888794;
    max-width: 333px;
}
.right-text, .right-text2 {
    padding-left: 10px;
}
.right-text3 {
    position: absolute;
    top: 270px;
    left: -100px;
    transform: rotate(-90deg);
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
}
.main__product-stock-right {
    display: flex;
    background: #f7f7fa;
    box-shadow: -40px 40px 0 0 #515076;
}
.main__product__discount {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.main__product__discount__5 {
    min-width: 350px;
    min-height: 600px;
}
.main__product__discount__10 {
    min-width: 350px;
    min-height: 700px;
}
.main__product__discount__20 {
    min-width: 350px;
    min-height: 800px;
}
.discount__5 {
    margin-top: 200px;
    margin-bottom: 7px;
    padding: 25px 65px;
    background: rgba(81, 80, 118, 0.1);
}
.discount__10 {
    margin-top: 100px;
    margin-bottom: 57px;
    padding: 25px 65px;
    background: rgba(81, 80, 118, 0.1);
}
.discount__20 {
    padding: 25px 65px;
    background: rgba(81, 80, 118, 0.1);
    margin-bottom: 107px;
}
.discound__img {
    margin-bottom: 10px;
}
.discound__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 136%;
    color: #515076;
    padding: 0px 100px;
}
.discound__basket {
    display: flex;
}
.discound__basket img {
    cursor: pointer;
}
.discound__basket-text {
    text-decoration: line-through;
    opacity: 0.5;
    margin-right: 5px;
    margin-left: 100px;
}
.discound__basket2 {
    margin-right: 100px;
}
.main__product__testing {
    background: #edecf6;
}
.wrapper__background {
    position: relative;
}
.diamaint__testing::before {
    content: url(../img/wrapper-bg.png);
    position: absolute;
    top: 428px;
    right: 0px;
}
.diamaint__testing {
    text-align: center;
    position: relative;
    top: -185px;
    font-weight: 400;
    font-size: 330px;
    line-height: 92%;
    color: #d6d4e7;
    margin-bottom: 25px;
}
.main__product__testing__inner {
    position: relative;
    top: -200px;
    right: 150px;
    display: flex;
    align-items: center;
}
.testing__right {
}
.testing__right__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #a5a3b9;
}
.testing__right__text2 {
    font-weight: 300;
    font-size: 120px;
    line-height: 55%;
    color: #515076;
}
.testing__right__text2 span {
    font-weight: 200;
    font-size: 70px;
    color: #515076;
}
.testing__right__text3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #888794;
}
.healthy {
    margin-bottom: 144px;
}
.healty__title {
    font-weight: 200;
    font-size: 70px;
    line-height: 109%;
    text-align: center;
    color: #757aa5;
}
.healty__grid {
    max-width: 1000px;
    margin: 0 auto;
    gap: 30px;
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 300px 300px 300px;
}
.healty__grid span {
    display: inline-block;
    width: 25px;
    height: 1px;
    margin-bottom: 4px;
    margin-right: 4px;
    background-color: #515076;
}
.healty__grid-1 {
    max-height: 400px;
    border-top: 6px solid #515076;
    background: #f7f7fa;
    grid-row: 1 / 2;
}
.healty__grid-2 {
    max-height: 400px;
    margin: 200px 0px;
    border-top: 6px solid #515076;
    background: #f7f7fa;
    grid-row: 1 / 3;
}
.healty__grid-3 {
    max-height: 400px;
    border-top: 6px solid #515076;
    background: #f7f7fa;
    grid-row: 2 / 3;
}
.healty__grid-4 {
    max-height: 400px;
    margin: 200px 0px;
    border-top: 6px solid #515076;
    background: #f7f7fa;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}
.healty__grid-text {
    margin-bottom: 4px;
    padding-top: 30px;
    padding-left: 46px;
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #a5a3b9;
}
.healty__grid-text2 {
    margin-bottom: 30px;
    padding-left: 46px;
    font-weight: 400;
    font-size: 20px;
    line-height: 136%;
    color: #515076;
}
.healty__grid-text3 {
    padding-left: 46px;
    padding-right: 28px;
    margin-bottom: 83px;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #888794;
}
.healty__grid-text4 {
    padding-left: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #515076;
}

.authors {
    margin-bottom: 10px;
}

.authors .conteiner {
    background: url(../img/autors-bg.png) 478px -30px no-repeat;
}

.authors__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.autors__left {
}
.autors__tittle {
    font-weight: 200;
    font-size: 70px;
    line-height: 109%;
    color: #757aa5;
    max-width: 357px;
    margin-bottom: 55px;
}
.autors__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #515076;
    margin-bottom: 14px;
}
.autors__text2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #888794;
    max-width: 665px;
    margin-bottom: 39px;
}
.autors__text3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #888794;
    max-width: 554px;
    margin-left: 85px;
    margin-bottom: 63px;
    position: relative;
}
.autors__text3::before {
    content: url(../img/cov.svg);
    position: absolute;
    top: 0px;
    left: -80px;
}
.footer .conteiner {
    position: relative;
}
.autors__images {
    display: flex;
    justify-content: space-between;
}
.image-wrapper img {
    width: 100%;
}
.image-wrapper {
    display: inline-block;
    position: relative;
}
.image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Высота светового эффекта */
    background: linear-gradient(to bottom, rgba(255,255,255,20), rgba(255,255,255,0));
    pointer-events: none;
}
.footer__contacts {
    position: absolute;
    top: 140px;
    left: 210px;
    width: 530px;
    height: 335px;
    border-top: 10px solid #515076;
    background: #f7f7fa;
}
.footer__contacts-title {
    padding-left: 80px;
    font-weight: 200;
    font-size: 70px;
    line-height: 109%;
    color: #757aa5;
    margin-bottom: 40px;
}
.footer__contacts-tel {
    padding-left: 80px;
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #828282;
}
.footer__contacts-addres {
    padding-left: 80px;
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #828282;
}
.footer__contacts-social {
    padding-left: 80px;
}
.footer__contacts-social a {
    margin-right: 10px;
}

.burger {
    display: none;
}

/* АДАПТИВ */
@media (max-width: 1117px) {
    .grid-text-4 {
        margin-left: 60px;
    }
    .e {
        grid-column: 2;
    }
}

@media (max-width: 1015px) {
    .grid-text-2 {
        margin-top: 30px;
        height: 100px;
    }
    .grid-text-3 {
        margin-top: 50px;
        height: 185px;
    }
    .grid-text-1 {
        margin-top: 160px;
    }
    .d {
        grid-column: 2;
        grid-row: 2;
    }
    .grid-text-4 {
        margin-left: 0px;
        padding-top: 240px;
    }
    .img__stakan {
        width: 900px;
        top: 140px;
    }
    
    
}

@media (max-width: 955px) {
    .main__inner {
        background: url(../img/oduvanchik.png) -145px -137px no-repeat;
    }
    .title {
        text-align: center;
        font-size: 170px;
    }
    .main__diamaint-title {
        margin-left: 120px;
    }
    .grid-container {
        grid-template-columns: 387px 35px 391px;
    }
    }
    .main__diamaint-button {
    margin-left: 310px;
    }

    .b {
    grid-column: 1 / 3;
    }

@media (max-width: 883px) {
    .title {
        font-size: 130px;
        margin-bottom: 10px;
    }
    .grid-container {
        grid-template-columns: 387px 0px 391px;
    }
}

@media (max-width: 850px) {
    .main__inner {
        background: url(../img/oduvanchik.png) -321px -137px no-repeat;
    }
    .title {
        text-align: left;
    }
    .main__diamaint-title {
        margin-left: 0px;
    } 
    .grid-container {
        grid-template-columns: 245px 0px 391px;
    }
    .header__logo {
        margin-right: 30px;
    }

    .header__li {
        margin-left: 20px;
        font-size: 20px;
    }
    .main__diamaint-button {
        margin-left: 230px;
    }
    .c {
        grid-column: 1;
        grid-row: 2;
    }
    .d {
        margin-top: 35px;
    }
    .grid-text-4 {
        padding-top: 100px;
    }
}

@media (max-width: 724px) {
    .header__logo {
        margin-right: 0px;
    }
    .header__li {
        margin-left: 10px;
        font-size: 20px;
    }
    .grid-container__2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-text-1 {
        display: none;
    }
    .grid-text-4 {
        display: none;
    }
    .grid-text-2 {
        margin-left: 140px;
    }
    .c {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    .grid-text-3 {
        margin-left: 140px;
    }
    .a {
        grid-column: 1 / 3;
        grid-row: 3;
    }
    .img__stakan {
        width: 700px;
    }
}

@media (max-width: 695px) {
    .main__diamaint-title {
        display: none;
    }
    .grid-container {
        grid-template-columns: 180px 0px 391px;
    }
    .main__diamaint-button {
        margin-left: 165px;
    }
    .product__title {
        margin-top: 100px;
        font-size: 50px;
    }
}

@media (max-width: 632px) {
    .burger {
        z-index: 15;
        display: block;
        position: fixed;
        top: 40px;
        right: 15px;
    }
    .burger span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: #515076;
        border-radius: 3px;
        margin: 4px 0px;
    }
    .burger::before,
    .burger::after {
        content: "";
        display: block;
        width: 30px;
        height: 4px;
        background-color: #515076;
        border-radius: 3px;
    }
    .header__ul {
        width: 200px;
        position: fixed;
        z-index: 10;
        top: 0px;
        right: 0px;
        background-color: #d6d4e7;
        flex-direction: column;
        transform: translateX(100%);
        transition: all 1s;
    }
    .header__ul--open {
        transform: translateX(0%);
    }
    .header__li {
        margin: 15px 15px;
    }
    .grid-container {
        grid-template-columns: 100px 0px 391px;
    }
    .main__diamaint-button {
        margin-left: 100px;
    }
    .grid-text-2 {
        margin-left: 0px;
    }
    .grid-text-3 {
        margin-left: 0px;
    }
}

@media (max-width: 546px) {
    .title {
        font-size: 80px;
    }
    .grid-container {
        grid-template-columns: 50px 0px 391px;
    }
    .img__stakan {
        width: 500px;
        top: 90px;
    }
}

@media (max-width: 495px) {
    .grid-container {
        grid-template-columns: 0px 0px 391px;
    }
    .main__diamaint-button {
        margin-left: 55px;
    }
    .product__title {
        font-size: 40px;
    }
}

@media (max-width: 430px) {
    .main__inner {
        background: url(../img/oduvanchik.png) -590px -137px no-repeat;
    }
    .title {
        margin-top: 0px;
    }
    .main__diamaint-text {
        font-size: 14px;
    }
    .grid-container {
        grid-template-columns: 0px 0px 290px;
    }
    .main__diamaint-button {
        margin-left: 20px;
    }
    .grid-text-2 {
        max-width: 390px;
        font-size: 14px;
        min-height: 70px;
    }
    .grid-text-3 {
        max-width: 390px;
        font-size: 14px;
        min-height: 100px;
    }
    .img__stakan {
        width: 400px;
        top: 20px;
    }
    .product__title {
        font-size: 30px;
    }
}

@media (max-width: 350px) {
    .main__diamaint-button {
        margin-left: 0px;
    }
}

